.campus{
margin: 70px auto;
/* width: ; */
text-align: center;

& .gallery{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 40px;
}
& img{
    width: 23%;
    border-radius: 10px;
}
}

/* media query */
@media(max-width:800px){
    .gallery{
flex-wrap: wrap;

& img{
    width: 48%;
    margin-bottom: 15px;
}
    }
    
}