.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 90%; */
    /* border: 2px solid red; */
}

.about_left {
    flex-basis: 40%;
    position: relative;
}

.about_right {
    flex-basis: 54%;
}

.about_img {
    width: 100%;
    border-radius: 10px;
}

.play_icon {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.about{

    & h3{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: #283391;
    }
    & h2{
        color: #051b55;
        font-size: 30px;
        text-transform: capitalize;
        margin: 10px 0;
        max-width: 400px;
    }
    & p{
        color: #535252;
        margin-bottom: 15px;
    }
}

/* media Query */
@media(max-width:850px){
    .about{
        /* display: flex; */
        flex-direction: column;
    }
    .about_left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about_right{
        flex-basis: 100%;
    }
}