.footer{
    width: 90%;
    border-top: 2px solid rgb(121, 121, 121);
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    /* border: 2px solid red */
}
.footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

 /* media querry */
 @media (max-width:650px){
.footer{
    display: flex;
    flex-direction: column;
    & ul{
        margin-top: 10px;
    }
    & li{
        margin: 10px;
    }
}

 }